<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBucXsSX27cC1-IGmjpASVehzvleFR6lIA</string>
	<key>GCM_SENDER_ID</key>
	<string>389690584273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mlin27.SE491GroupProject</string>
	<key>PROJECT_ID</key>
	<string>se491groupproject-a283b</string>
	<key>STORAGE_BUCKET</key>
	<string>se491groupproject-a283b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389690584273:ios:8edf8ac862af5621b129f0</string>
	<key>DATABASE_URL</key>
	<string>https://se491groupproject-a283b-default-rtdb.firebaseio.com</string>
</dict>
</plist>